<section class="py-5">
    <h1 class="display-3">
        ThankYou For Buying From Bajaj Motors
    </h1>
    <p class="lead">Your Product will Reach You in 3 days</p>
    <a href="/" class="btn btn-dark-btn-lg">Back To Main Page</a>

</section>
